/*Estilos generales*/
*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

a{
    text-decoration: none;
}

body
{
    background-color: rgb(85, 83, 83);
}

/*Estilos del encabezado*/
header
{
    width: 100vw;
    background-image: url(../Imagenes/Generales/Header.png);
    /*background-repeat: no-repeat;*/
    background-size:contain;
    padding: 30px;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: space-between;
}

header div a
{
    color: rgb(0, 0, 0);
}

header h1
{
    font-size: 33px;
    font-family: 'Montserrat','monospace';
}

header #Logo{
    /*margin-left: 10%;*/
    border-radius: 10px;
    width: 300px;
    height: 60px;
    background-color: rgb(233, 205, 49);
    display: flex;
    justify-content: center;
    align-items: center;
}

header #Llamar
{
    width: 150px;
    border-radius: 10px;
    background-color: rgb(233, 205, 49);

    display: flex;
    justify-content: center;
    align-items: center;
}

#Llamar img
{
    margin-right: 10px;
    width: 25px;
    height: 25px;
}

/*Barra de navegacion de escritorio*/
#Barra-Navegacion{
    width: 100vw;
    background-color: rgb(37, 37, 37);
    padding: 15px;
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex; 
    justify-content: space-between;
}

#Barra-Navegacion div{
    background-color: grey;
    height: 4vh;
    width: 12vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

nav a{
    color: white;
}

#Boton-navegador, #Boton-redes, #Encabezado_redes :nth-child(3){/*Se ocultan los botones de navegacion y el logo de whats del footer*/
    display: none;
}

/*Barra de navegacion mobil*/
@media (max-width: 590px){
    #Boton-navegador{
        border-radius: 10px;
        display: block;
        width: 60px;
        height: 35px;
        position: fixed;
        left: 5px;
        margin-top: 5px;
    }
    #Barra-Navegacion{
        display: none;
        flex-direction: column;
        justify-content: left; 
        background-color: rgba(245, 245, 245, 0.6);
        position: fixed;
        width: 90%;
        left: 5%;
        height: 80%;
        padding-top: 8vh;
    }
    #Barra-Navegacion div{
        background-color: rgb(187, 187, 187, 1);
        border-style:groove;
        border-color: rgb(141, 141, 141);
        color: black;
        width: 100%;
        height: 5vh;
        margin-bottom: 2vh;
    }
}

/*////////////////////////////////Seccion de redes sociales///////////////////////////*/

#Encabezado_redes
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1vw;
    padding-right: 1vw;/*36 a */

    background-color: rgb(255, 243, 230);
    width: 100%;
    height: 100px;
}

#Encabezado_redes a
{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#Encabezado_redes img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 10px;
}

#Encabezado_redes h2{
    font-size: 22px;
}

@media (max-width: 590px){
    #Encabezado_redes{
        display: none;
        flex-direction: column;
        position: fixed;
        bottom: 12vh;
        background-color: rgba(132, 194, 229, 0.9);
        width: 85vw;
        height: 26vh;
        right: 0;
        border-radius: 10px;
        right: 2vw;
    }
    #Encabezado_redes img{
        width: 40px;
        height: 40px;
    }
    #Encabezado_redes h2{
        font-size: 20px;
        width: 180px;
    }
    #Boton-redes{
        display: block;
        right: 5px;
        bottom: 5vh;
        width: 40px;
        height: 40px;
        position: fixed;
        border-radius: 10px;
    }
    #Encabezado_redes :nth-child(3){
        display: flex;/*Aparecer logo whats*/
    }
    #Encabezado_redes :nth-child(3) img{
        border-radius: 0%;/*Eliminar redondeado en whats*/
    }
    header #Llamar{/*Desaparecer whats de header*/
        display: none;
    }
    header{
        justify-content: center;
    }
}

/* Estilos para la version mobil */
@media (max-width: 590px){

}