
/*//////////////////////////Hero////////////////////////*/

#Hero{
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

/*//////////////////////////Carrete de fotos////////////////////*/
  
#Foto_hero {
  width: 750px;/*1080*/
  height: 450px;/*600*/
  overflow: hidden;
}

#Foto_hero ul{
  display: flex;
  animation: Transicion 20s infinite alternate linear;
  width: 600%;
  height: 100%;
}

#Foto_hero li{
  width: 100%;
  list-style: none;
}

#Foto_hero img{
  width: 100%;
  height: 100%;
}

@keyframes Transicion {
  0% {margin-left: 0;}
  20%{margin-left: 0;}
  
  25%{margin-left: -100%;}
  45%{margin-left: -100%;}
  
  50%{margin-left: -200%;}
  70%{margin-left: -200%;}
  
  75%{margin-left: -300%;}
  100%{margin-left: -300%;}
}

/*//////////////////////////Reseñas de la pagina////////////////////*/
.Reseñas-titulo{
  margin-top: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.Reseñas-titulo-container{
  height: 50px;
  width: 60vw;
  background-color: rgb(233, 222, 67);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Reseñas-titulo-container p{
  font-size: 2.1rem;
  margin: 10px;
}

.Reseñas{
  margin-top: 25px;
  background-color: rgb(170, 169, 169);
  display: flex;
  justify-content: center;
}

#Reseñas-container{
  background-color: rgb(32, 33, 36);
  width: 70vw;
  display: flex;
  flex-direction: column;
}

#Reseñas-container div{
  margin: 25px;
  padding: 25px;
  border-radius: 10px;
  background-color: orange
}

#Reseñas-container div p{
  width: 100%;
}

#Reseñas-container div .nombre-usuario{
  font-size: 2rem;
  font-weight: bold;
}

#Reseñas-container div .fecha-publicacion{
  font-weight: bold;
  text-align: right
}

#Reseñas-container > :nth-child(2n+1){
  margin-right: 50%;
}

#Reseñas-container > :nth-child(2n){
  margin-left: 50%;
}


/*  Estilos para version mobil */
@media (max-width: 590px){
  #Foto_hero {
    width: 120vw;/*relacion 1080 : 600 (1 : 1/3) */
    height: 60vw;
  }
  .Reseñas-container{
    width: 95%;
  }
  #Reseñas-container > :nth-child(n){
    margin: 10px;
    margin-top: 20px;
  }
  .Reseñas-titulo-container{
    width: 90vw;
  }
  .Reseñas-titulo-container p{
    font-size: 1.8rem;
  }
  #Reseñas-container{
    width: 85vw;
  }
}